body,html {
    width: 400px;
    height: 800px;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: flex-end;
    background-color: #606C38;
}

button:hover{
    background-color: aquamarine;
}

.sidebar {
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}